{"filter":false,"title":"procfile","tooltip":"/procfile","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":0,"column":56},"action":"insert","lines":["web: bundle exec unicorn -p $PORT -c ./config/unicorn.rb"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":56},"end":{"row":0,"column":56},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1420112669734,"hash":"a83b3dc4adb221886f1e58b7a59acfb8b321f85a"}