<h1>About</h1>

<p>Thanks for your visit.</p>

<p>This is my first web applicatoin(like twitter) using Ruby On Rails with some features listed below if signed up</p>

<ul>
    
    <li>Users can follow and unfollow the other users.</li>
    <li>Get Messages(Tweets) of Followed Users in Feed Page</li>
    <li>Users can Update there Profile anytime</li>
   
    
    <li>Bootstrap for Styles</li>
    <li>User Authentication</li>
    <li>Password Remember</li>
    <li>HEROKU Deployment</li>
    <li>AJAX for a post</li>
    
    </ul>