<footer class="footer">
   <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
    <p><a href ="https://github.com/vishnu5050/wbapp"> View Source at Github.</a> (Guided by Railstutorial.org as a tutorial)</p>
  </nav>
</footer>